/* Your CSS here... */


#quotes 
{
margin-right: 80%;
}
div.quote
{
        padding:7px;
        background-color:#FF8C00;
	border-radius: 20px;
	border:1px solid #FF6347;
        color: #FFFFFF;
        margin-bottom:20px;
overflow:hidden;
}

p.author
{
float: right;
    margin: 0;
    padding: 0.2em;
}

p.message
{
    margin: 0;
    padding: 0.2em;
}	

							